*.bak
*.log
RISC_V/RISC_V_gate.area
RISC_V/RISC_V_gate.db
RISC_V/RISC_V_inst.bid
RISC_V/RISC_V_phy.area
RISC_V/RISC_V_phy.timing
RISC_V/RISC_V_phy.tsm
RISC_V/RISC_V_pr.db
RISC_V/RISC_V_rtl.area
RISC_V/RISC_V_rtl.db
RISC_V/hx8kdemo_tdmap.v
RISC_V/hx8kdemo_tdpack.v
RISC_V/hx8kdemo_tdread.v
RISC_V/hx8kdemo_tdrtl.v
RISC_V/simulation/RISC_V_phy_sim.v
RISC_V/simulation/RISC_V.sdf
RISC_V/RISC_V.bit
RISC_V/RISC_V_watcherInst.v
